{% extends 'base.html.twig' %}

{% block title %}Active Loans{% endblock %}

{% block body %}

        {% for label, messages in app.flashes %}
			<div class="mt-2 alert alert-{{ label }}">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endfor %}

   <div class="d-flex justify-content-between align-items-center mt-5">
    <h2 class="quando">List of Active Loans</h2>
    <a href="{{ path('admin_loan_new') }}" class="btn btn-outline-custom">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>

    {% if activeloans is empty %}
        <p>No active loans at the moment.</p>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="quando text-center">Book</th>
                    <th class="quando text-center">Borrower</th>
                    <th class="quando text-center">Start Date</th>
                    <th class="quando text-center">End Date</th>
                    <th class="quando text-center">Return Date</th>
                    <th class="quando text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in activeloans %}
                    <tr>
                        <td class="text-center align-middle">{{ loan.book.title }}</td>
                        <td class="text-center align-middle">{{ loan.user.firstname }} {{ loan.user.lastname }}</td>
                        <td class="text-center align-middle">{{ loan.startDate|date('Y-m-d') }}</td>
                        <td class="text-center align-middle">{{ loan.endDate|date('Y-m-d') }}</td>
                        <td class="text-center align-middle">{{ loan.returnDate ? loan.returnDate|date('Y-m-d') : 'Not returned yet' }}</td>
                        <td class="text-center align-middle">
                            <!-- Button to mark the loan as returned -->
                            <form action="{{ path('admin_loan_return', { 'id': loan.id }) }}" method="post">
                                <button type="submit" class="btn btn-outline-custom">Mark as Returned</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2 class="quando mt-5">List of Past Loans</h2>
    {% if pastloans is empty %}
        <p>No past loans at the moment.</p>
    {% else %}
    <table class="table table-striped">
            <thead>
                <tr>
                    <th class="quando text-center">Book</th>
                    <th class="quando text-center">Borrower</th>
                    <th class="quando text-center">Start Date</th>
                    <th class="quando text-center">End Date</th>
                    <th class="quando text-center">Return Date</th>
                </tr>
            </thead>
            <tbody>
                {% for pastloan in pastloans %}
                    <tr>
                        <td class="text-center align-middle">{{ pastloan.book.title }}</td>
                        <td class="text-center align-middle">{{ pastloan.user.firstname }} {{ pastloan.user.lastname }}</td>
                        <td class="text-center align-middle">{{ pastloan.startDate|date('Y-m-d') }}</td>
                        <td class="text-center align-middle">{{ pastloan.endDate|date('Y-m-d') }}</td>
                        <td class="text-center align-middle">{{ pastloan.returnDate|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
        

{% endblock %}
