    {# COLONNE DE GAUCHE - FIXE #}
        <div class="left-column d-flex flex-column flex-shrink-0 p-3 border-end position-fixed" style="height: 100vh; overflow-y: auto;">
            <a href="/" class="d-flex align-items-center mb-2 justify-content-center">
                <img src="{{ asset('images/logos/logo2.png') }}" style="height: 5vh;">
            </a>
            <hr>
            <div class="categories">
                <div class="category-title">Categories</div>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="fa-solid fa-circle-exclamation" style="color: #b57cff;"></i>
                            Newest
                        </a>
                    </li>
                    <li>
                        <a href="/" class="nav-link">
                            <i class="fa-solid fa-heart" style="color: #b57cff;"></i>
                            Popular Books
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="categories">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="category-title">Admin</div>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{{ path('admin_loan_list') }}" class="nav-link">
                                Manage Loans
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <div class="category-title">Genres</div>
                    <ul class="nav nav-pills flex-column mb-auto">
                        {% for category in categories|slice(0, 5) %}
                            <li class="nav-item">
                                <a href="{{ path('category_show', { 'id': category.id }) }}" class="nav-link">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="btn mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#moreCategories" aria-expanded="false" aria-controls="moreCategories">
                        <i class="fa-solid fa-chevron-down"></i>
                         See more
                    </button>
                    <div class="collapse" id="moreCategories">
                        <ul class="nav nav-pills flex-column mt-2">
                            {% for category in categories|slice(5, categories|length - 5) %}
                                <li class="nav-item">
                                    <a href="{{ path('category_show', { 'id': category.id }) }}" class="nav-link">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>