<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Plumify{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('images/logos/icon.png') }}">
    {% block stylesheets %}
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Import Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quando&display=swap" rel="stylesheet">
    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/app.css') }}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/modale.css') }}" media="screen,projection"/>
    <!-- Import Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- Import Swiper -->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}
</head>
<body>

    <div class="d-flex flex-nowrap">
    {# COLONNE DE GAUCHE - FIXE #}
        <div class="left-column d-flex flex-column flex-shrink-0 p-3 position-fixed border-end" style="height: 100vh; overflow-y: auto; border-right: 1px solid #b57cff !important;">

            {#  LOGO #}
            <a href="/" class="d-flex align-items-center mb-2 justify-content-center">
                <img src="{{ asset('images/logos/logo1.png') }}" alt="logo" style="height: 10vh;">
            </a>
            <hr>

            {# CATEGORIES - NEWEST + POPULAR BOOKS #}
            <div class="categories p-3">
                <div class="category-title">Categories</div>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="fa-solid fa-circle-exclamation" style="color: #b57cff;"></i>
                            Newest
                        </a>
                    </li>
                    <li>
                        <a href="/" class="nav-link">
                            <i class="fa-solid fa-heart" style="color: #b57cff;"></i>
                            Popular Books
                        </a>
                    </li>
                </ul>
            </div>
            <hr>

            {# ADMIN -> SYSTEME DE PRET #}
            <div class="categories">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="category-title">Admin</div>
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="{{ path('admin_loan_list') }}" class="nav-link">
                                    Manage Loans
                                </a>
                            </li>
                        </ul>
                {% else %}
                {# AFFICHER LA LISTE DES GENRES #}
                <div class="p-3">
                    <div class="category-title">Genres</div>
                        <ul class="nav nav-pills flex-column mb-auto">
                            {% for category in categories|slice(0, 5) %}
                                <li class="nav-item">
                                    <a href="{{ path('category_show', { 'id': category.id }) }}" class="nav-link">{{category.icon}} {{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <button class="btn mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#moreCategories" aria-expanded="false" aria-controls="moreCategories">
                            <i class="fa-solid fa-chevron-down"></i>
                            See more
                        </button>
                        <div class="collapse" id="moreCategories">
                            <ul class="nav nav-pills flex-column mt-2">
                                {% for category in categories|slice(5, categories|length - 5) %}
                                    <li class="nav-item">
                                        <a href="{{ path('category_show', { 'id': category.id }) }}" class="nav-link">{{category.icon}} {{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>


               


    {# COLONNE CENTRALE - DÉFILANTE #}
        <div class="main-content flex-grow-1 p-0 w-100" style="overflow-y: auto;">

            {# LOGO PLUMIFY TELEPHONE #}
            <div class=" logo-container w-100 bg-white">
                <a href="/" title="home">
                    <img src="{{ asset('images/logos/logo2.png') }}" class="align-center" alt="logo" style="height: 8vh;">
                </a>        
                    <hr>
            </div>

            {# SEARCHBAR #}
            <div class="search-container d-flex align-items-center mx-auto mt-2 mb-3">
                <form action="{{ path('book_search') }}" method="get" class="d-flex w-100">
                    <input type="text" name="query" class="form-control search-input" placeholder="Search a book here..." style="flex: 1;">
                    <button class="search-btn" type="submit" style="margin-left: 10px;" title="search">
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    </button>
                </form>
            </div>

            {#  MESSAGES ERREURS OU REUSSITES #}
            {% for label, messages in app.flashes %}
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
		{% endfor %}

            {% block body %}{% endblock %}
            <footer class="footer  py-4">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="mb-2 mb-md-0">&copy; 2024 Plumify - All rights reserved</p>
        
        <nav class="footer-links mb-2 mb-md-0">
            <a href="/terms" class="text-decoration-none mx-2" title="terms">Terms and Conditions of Use</a>
            <a href="/terms" class="text-decoration-none mx-2" title="privacy">Privacy Policy</a>
            <a href="/terms" class="text-decoration-none  mx-2" title="contact">Contact</a>
        </nav>

        <div class="social-media">
            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook" class="text-decoration-none mx-2" title="Facebook">
                <i class="fa-brands fa-facebook fa-lg" style="color: #B197FC;"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter" class="text-decoration-none mx-2" title="Twitter">
                <i class="fa-brands fa-twitter fa-lg" style="color: #B197FC;"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram" class="text-decoration-none mx-2" title="Instagram">
                <i class="fa-brands fa-instagram fa-lg" style="color: #B197FC;"></i>
            </a>
        </div>
    </div>
</footer>
        </div>

    {# COLONNE DE DROITE - FIXE #}
        <div class="right-column col-md-2 d-flex flex-column p-3 border-start position-fixed" style="right: 0; height: 100vh; overflow-y: auto; border-left: 1px solid #b57cff !important;">
            <section>
			{# App.user permet de savoir si un utilisateur est connecté #}
                {% if app.user %}
                    <div class="container mt-4">
                        <div class="profile-container">
                        
                            <h4 class="quando py-3 hide-t">
                                Hi, {{ app.user.firstname }} !
                            </h4>
                        
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img src="{{ asset('images/avatar/bulle.jpg') }}" alt="Profile Picture" class="rounded-circle"> 
                            </a>
                            {% else %}
                            <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img src="https://via.placeholder.com/60" alt="Profile Picture" class="rounded-circle">
                            </a>
                            {% endif %}

                            {# BOUTON LOGOUT #}
                            <a href="{{ path('app_logout') }}" class="logout-btn me-2">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>

                        </div>
                    </div>
                {% else %}
                    <p>You can <a href="{{ path('app_login') }}">login here</a></p>
                {% endif %}

                {# RANDOM BOOKS #}
                <h4>Suggestions</h4>
                <div id="random-books">
                    {% for book in randomBooks %}
                        <div class="card mb-1 second-color d-flex flex-column rounded rounded-3">
                            <div class="row g-0 flex-grow-1">
                                <div class="col-md-4">
                                    <a href="{{ path('book_show', { id: book.id }) }}">
                                        <img src="{{ asset('/assets/images/books/' ~ book.coverImage) }}" class="rounded rounded-3" alt="Couverture de {{ book.title }}" style="width:90px; height:130px;">
                                    </a>
                                </div>
                                <div class="col-md-8 d-flex flex-column">
                                    <div class="card-body flex-grow-1 hide-t">
                                        <small class="text-body-secondary">{{ book.author.firstname }} {{ book.author.lastname }}</small>
                                        <h6 class="card-title quando">{{ book.title }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
        {% if app.user %}
            {# MODAL DE PROFILE #}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: #B57CFF;">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Section Profil -->
                    <div id="profileDetails">
                        <div class="profile-header position-relative p-4">
                        {% if is_granted('ROLE_ADMIN') %}
                            <img src="{{ asset('images/avatar/bulle.jpg') }}" alt="Profile Picture" class="rounded-circle"> 
                        {% else %}
                            <img src="https://via.placeholder.com/100" alt="Profile Picture" class="rounded-circle">
                        {% endif %}
                            <h5>{{user.firstname}} {{user.lastname}}</h5>
                        </div>

                        <!-- Information Section -->
                        <div class="mt-4">
                            <div class="info-item d-flex align-items-center">
                                <div>
                                <i class="fa-solid fa-address-card" style="color: #b57cff;"></i>
                                    <p>Name</p>
                                    <small>{{user.firstname}} {{user.lastname}}</small>
                                </div>
                            </div>

                            <div class="info-item d-flex align-items-center">
                                <div>
                                <i class="fa-solid fa-house" style="color: #b57cff;"></i>
                                    <p>Address</p>
                                    <small>{{user.address}}</small>
                                </div>
                            </div>

                            <div class="info-item d-flex align-items-center">
                                <div>
                                <i class="fa-solid fa-cake-candles" style="color: #b57cff;"></i>
                                    <p>Birthdate</p>
                                    <small>{{user.birthdate|date("d/m/Y")}}</small>
                                </div>
                            </div>

                            <div class="info-item d-flex align-items-center">
                                <div>
                                <i class="fa-solid fa-envelope" style="color: #b57cff;"></i>
                                    <p>E-Mail</p>
                                    <small>{{user.email}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Formulaire Update (caché par défaut) -->
                   <div id="updateForm" style="display: none;">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-outline-custom mt-2" title="Save changes">Save Changes</button>
                        {{ form_end(form) }}  
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="updateButton" type="button" class="btn btn-custom" title="Update">Update</button>
                </div>
            </div>
        </div>
    </div>
        {% endif %}

        <!-- Navbar pour mobile -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark d-md-none">
        <div class="container-fluid justify-content-around ">

        {% if is_granted('ROLE_ADMIN') %}
            <a href="#" data-bs-toggle="modal" title="profile" data-bs-target="#exampleModal" class="nav-link text-light"><i class="fa-solid fa-user" style="color: #B197FC;"></i></a>
            <a href="{{ path('admin_loan_list') }}" title="loans" class="nav-link text-light"><i class="fa-solid fa-book" style="color: #B197FC;"></i></a>
            <a href="{{ path('category_list') }}" title="category" class="nav-link text-light"><i class="fa-solid fa-list" style="color: #B197FC;"></i></a>
            <a href="/admin" title="admin" class="nav-link text-light"><i class="fa-solid fa-toolbox" style="color: #B197FC;"></i></a>
            <a href="{{ path('app_logout') }}" title="logout" class="nav-link text-light"><i class="fa-solid fa-right-from-bracket" style="color: #B197FC;"></i></a>
        {% elseif app.user %}
            <a href="{{ path('app_home') }}" title="home" class="nav-link"><i class="fa-solid fa-house" style="color: #B197FC;"></i></a>
            <a href="{{ path('category_list') }}" title="category" class="nav-link text-light"><i class="fa-solid fa-list" style="color: #B197FC;"></i></a>
            <a href="#" data-bs-toggle="modal" title="profile" data-bs-target="#exampleModal" class="nav-link text-light text-center"><i class="fa-solid fa-user" style="color: #B197FC;"></i></a>
            <a href="{{ path('app_logout') }}" title="logout" class="nav-link text-light"><i class="fa-solid fa-right-from-bracket" style="color: #B197FC;"></i></a>
        {% else %}
            <a href="{{ path('app_home') }}" title="home" class="nav-link"><i class="fa-solid fa-house" style="color: #B197FC;"></i></a>
            <a href="{{ path('category_list') }}" title="category" class="nav-link text-light"><i class="fa-solid fa-list" style="color: #B197FC;"></i></a>
            <a href="{{ path('app_login') }}" title="login" class="nav-link text-light"><i class="fa-solid fa-arrow-right-to-bracket" style="color: #B197FC;"></i></a>
        {% endif %}

        </div>
    </nav>



    {% block javascripts %}
        <!-- Import Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var updateButton = document.getElementById('updateButton');
                var profileDetails = document.getElementById('profileDetails');
                var updateForm = document.getElementById('updateForm');

                function showUpdateForm() {
                    profileDetails.style.display = 'none';
                    updateForm.style.display = 'block';
                    updateButton.style.display = 'none';
                }

                function showProfileDetails() {
                    profileDetails.style.display = 'block';
                    updateForm.style.display = 'none';
                    updateButton.style.display = 'inline-block';
                }

                updateButton.addEventListener('click', showUpdateForm);
            });
        </script>
        {% block importmap %}{% endblock %}
        
    {% endblock %}
</body>

</html>

