<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}prout
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/final.svg') }}">
		{% block stylesheets %}
			<!-- Import Google Icon Font -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link
			href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
			<!-- Import Bootstrap -->
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
			<!-- Custom styles -->
			<link
			type="text/css" rel="stylesheet" href="{{ asset('styles/app.css') }}" media="screen,projection"/>
			<!-- Import Font Awesome-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}
		{% block javascripts %}
			<!-- Import Bootstrap -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
			{% block importmap %}{% endblock %}
		{% endblock %}
	</head>
	<body>
	{# COLONNE DE GAUCHE #}
		<div class="d-flex flex-nowrap overflow-hidden">
			<div class="d-flex flex-column flex-shrink-0 p-3 border border-danger" style="width: 280px; height: 100vh; overflow-y: auto;">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
					<img src="{{ asset('images/logos/final.svg') }}" style="height: 10vh;">
					<span class="fs-4">Plumify</span>
				</a>
				<hr>
				<div class="categories">
					<div class="category-title">Categories</div>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item">
							<a href="#" class="nav-link" aria-current="page">
								<i class="fa-solid fa-circle-exclamation" style="color: #b57cff;"></i>
								Newest
							</a>
						</li>
						<li>
							<a href="#" class="nav-link ">
								<i class="fa-solid fa-heart" style="color: #b57cff;"></i>
								Most liked
							</a>
						</li>
					</ul>
				</div>
				<hr>

				<div class="categories">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="category-title">Admin</div>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item">
							<a href="{{ path('admin_loan_list') }}" class="nav-link" aria-current="page">
								Manage Loans
							</a>
						</li>
					</ul>
				{% else %}
					<div class="category-title">Genres</div>
					<ul class="nav nav-pills flex-column mb-auto">
						{% for category in categories %}
							<li class="nav-item">
								<a href="#" class="nav-link" aria-current="page">
									{{ category.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
					<button class="btn mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#moreCategories" aria-expanded="false" aria-controls="moreCategories">
						<i class="fa-solid fa-chevron-down"></i>
						Voir plus
					</button>
				{% endif %}
			</div>

			</div>

			<div
				class="d-flex flex-column overflow-scroll w-100 p-3">
				{# SEARCHBAR #}
				<div class="search-container d-flex align-items-center mx-auto">
					<form action="{{ path('book_search') }}" method="get" class="d-flex w-100">
						<input type="text" name="query" class="form-control search-input" placeholder="Search a book here..." style="flex: 1;">
						<button class="btn search-btn" type="submit" style="margin-left: 10px;">
							<i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
						</button>
					</form>
				</div>
				{% block body %}{% endblock %}
			</div>

			{# COLONNE DE DROITE #}
			<div class="col-md-2 d-flex flex-column p-3 border border-danger">
    <section>
		{# App.user = fonction symfony qui permet de savoir si un utilisateur est connecté #}
        {% if app.user %}
            <p>Hi, {{ app.user.firstname }}!</p>
        {% else %}
            <p>You can <a href="{{ path('app_login') }}">login here</a></p>
        {% endif %}

        <h4>Suggestions</h4>
        <div id="random-books">
            {% for book in randomBooks %}
                <div class="card mb-1 second-color d-flex flex-column rounded rounded-3">
                    <div class="row g-0 flex-grow-1">
                        <div class="col-md-4 ">
						<a href="{{ path('book_show', { id: book.id }) }}">
                            <img src="{{ asset('/assets/images/books/' ~ book.cover_image) }}" class="rounded rounded-3" alt="Couverture de {{ book.title }}" style="width:90px; height:130px;">
                        </a>
						</div>
                        <div class="col-md-8 d-flex flex-column">
                            <div class="card-body d-flex flex-column flex-grow-1">
                                <p class="card-text mb-0"></p>
                                <small class="text-body-secondary">{{ book.firstname }} {{ book.lastname }}</small>
                                <h6 class="card-title ">{{ book.title }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
			{% if app.user %}
				<p> <a href="{{ path('app_logout') }}">Logout</a></p>
			{% endif %}

        </div>
    </section>
</div>
		</div>
	</body>
</html>

